[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
flask-sqlalchemy = "*"
flask-reuploaded = "*"
flask-wtf = "*"
werkzeug = "*"
python-editor = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.8"
